In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("risco_credito.csv")

In [3]:
df

        historia divida garantias     renda   c#risco
0           ruim   alta   nenhuma      0_15      alto
1   desconhecida   alta   nenhuma     15_35      alto
2   desconhecida  baixa   nenhuma     15_35  moderado
3   desconhecida  baixa   nenhuma  acima_35      alto
4   desconhecida  baixa   nenhuma  acima_35     baixo
5   desconhecida  baixa  adequada  acima_35     baixo
6           ruim  baixa   nenhuma      0_15      alto
7           ruim  baixa  adequada  acima_35  moderado
8            boa  baixa   nenhuma  acima_35     baixo
9            boa   alta  adequada  acima_35     baixo
10           boa   alta   nenhuma      0_15      alto
11           boa   alta   nenhuma     15_35  moderado
12           boa   alta   nenhuma  acima_35     baixo
13          ruim   alta   nenhuma     15_35      alto

In [5]:
df.describe()

            historia divida garantias     renda c#risco
count             14     14        14        14      14
unique             3      2         2         3       3
top     desconhecida   alta   nenhuma  acima_35    alto
freq               5      7        11         7       6

In [7]:
previsores = df.iloc[:, 0:4].values
previsores

array([['ruim', 'alta', 'nenhuma', '0_15'],
       ['desconhecida', 'alta', 'nenhuma', '15_35'],
       ['desconhecida', 'baixa', 'nenhuma', '15_35'],
       ['desconhecida', 'baixa', 'nenhuma', 'acima_35'],
       ['desconhecida', 'baixa', 'nenhuma', 'acima_35'],
       ['desconhecida', 'baixa', 'adequada', 'acima_35'],
       ['ruim', 'baixa', 'nenhuma', '0_15'],
       ['ruim', 'baixa', 'adequada', 'acima_35'],
       ['boa', 'baixa', 'nenhuma', 'acima_35'],
       ['boa', 'alta', 'adequada', 'acima_35'],
       ['boa', 'alta', 'nenhuma', '0_15'],
       ['boa', 'alta', 'nenhuma', '15_35'],
       ['boa', 'alta', 'nenhuma', 'acima_35'],
       ['ruim', 'alta', 'nenhuma', '15_35']], dtype=object)

In [10]:
classe = df.iloc[:,4]
classe

0         alto
1         alto
2     moderado
3         alto
4        baixo
5        baixo
6         alto
7     moderado
8        baixo
9        baixo
10        alto
11    moderado
12       baixo
13        alto
Name: c#risco, dtype: object

In [28]:
previsores

array([[2, 0, 1, 0],
       [1, 0, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 1, 1, 2],
       [1, 1, 0, 2],
       [2, 1, 1, 0],
       [2, 1, 0, 2],
       [0, 1, 1, 2],
       [0, 0, 0, 2],
       [0, 0, 1, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 2],
       [2, 0, 1, 1]], dtype=object)

# Transformando valores  categoricos

In [17]:
from sklearn.preprocessing import LabelEncoder

In [27]:
labelEncoder = LabelEncoder()
previsores[:,0] = labelEncoder.fit_transform(previsores[:,0])
previsores[:,1] = labelEncoder.fit_transform(previsores[:,1])
previsores[:,2] = labelEncoder.fit_transform(previsores[:,2])
previsores[:,3] = labelEncoder.fit_transform(previsores[:,3])

# Importando o algaoritmo Naive Bayes

In [32]:
from sklearn.naive_bayes import GaussianNB

In [36]:
classificador = GaussianNB()
#Treinando o algoritmo
classificador.fit(previsores, classe)

GaussianNB()

   historia divida garantias renda   c#risco
0         2      0         1     0      alto
1         1      0         1     1      alto
2         1      1         1     1  moderado
3         1      1         1     2      alto
4         1      1         1     2     baixo
5         1      1         0     2     baixo
6         2      1         1     0      alto
7         2      1         0     2  moderado
8         0      1         1     2     baixo
9         0      0         0     2     baixo
10        0      0         1     0      alto
11        0      0         1     1  moderado
12        0      0         1     2     baixo
13        2      0         1     1      alto

In [38]:
df

   historia divida garantias renda   c#risco
0         2      0         1     0      alto
1         1      0         1     1      alto
2         1      1         1     1  moderado
3         1      1         1     2      alto
4         1      1         1     2     baixo
5         1      1         0     2     baixo
6         2      1         1     0      alto
7         2      1         0     2  moderado
8         0      1         1     2     baixo
9         0      0         0     2     baixo
10        0      0         1     0      alto
11        0      0         1     1  moderado
12        0      0         1     2     baixo
13        2      0         1     1      alto


# Testando o Algoritimo

In [40]:
resultado = classificador.predict([[0,0,1,2]])
resultado

array(['baixo'], dtype='<U8')